body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.banner-div{
    color: #87e7ff;
    text-align: center; 
    margin-top: 0px;
    padding-top: 200px;
}
h1{
    font-size: 70px;
    margin: 0px;
    
}
.m-one{
    margin: 30px 580px 5px;
}
.m-two{
    margin: 0px 670px 50px;
}
.donate-button{
        color: #f5e2ff;
        text-align: center;
        background-color: #e54222;
        text-decoration: none;
        padding: 10px 15px;
        border-radius: 10px;
        
}
.top-banner{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    width: 100%;
    height: 100vh;
    margin-top: 0px;
}
.section-two{
    margin-top: 200px;
    text-align: center;
}
h2{
    font-size: 50px;
}
.buttons{
    margin-top: 50px;
    margin-bottom: 50px;
}
.button-taka{
    background: #e60000;
    color: #87e7ff;
}
.button-box{
    font-size: 20px;
    background-color: #ededed;
    padding: 20px;
}
#button-bx{
    color: #ff0000;
    font-size: 20px;
    padding: 20px;
    background-color: #ffdbdb;
}
.text-button{
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: groove;
    width: 500px;
    text-align: center;
}
.plan-flex{
    margin: 30px 100px;
    display:flex
}
.sec-flex{
    display: flex;
    margin-top: 100px;
  }          
.plan-des{
    margin: 30px 15px;
    padding: 60px 10px 60px;
}
.color-one{
    background-color: #d6d6d6;
    width: 30%;
}
.color-two{
    background-color: #ffbebe;
    width: 30%;
}
.color-three{
    background-color: beige;
    width: 30%;
}

.half-width{
    width: 50%;
    padding-left: 6%;
    
}
.half-width img{
    width: 80%;
}
.larger-h{
    font-size: 35px;
}
.box-mail{
    background-color: #b6e0b0;
    padding: 50px 60px;
    margin: 30px 400px;
}
#no-gap{
    margin-left: -5px;
    color: white;
    background: #873b84;
    
}
.bottom-head{
    color: red;
    font-style: italic;
    font-size: 40px;
}
#white-p{
    color: white;
}
.bottom-part{
    margin-top: 100px;
    background-color: black;
    padding: 30px;
    text-align: center;
}